{% load static %}
{% include 'components/header.html' %}
{% block content%}


<link rel="stylesheet" href="{% static 'css/book.css' %}">
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                {% for book in books_list %}
                <img src="{{ book.image.url }}" class="card-image-top" alt="Книга">
                <div class="card-body">
                     <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.created_at }}</p>
                    <a href='/books/{{book.id}}' class="btn btn-primary">Подробнее</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>

{% endblock %}

<!-- Футер -->
{% include 'components/footer.html' %}
